@import "variables";

@font-face {
  font-family: 'Angelface';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/angelface.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local(''),
  url('../fonts/open-sans-v18-latin_cyrillic-300.woff2') format('woff2'),
  url('../fonts/open-sans-v18-latin_cyrillic-300.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/open-sans-v18-latin_cyrillic-regular.woff2') format('woff2'),
  url('../fonts/open-sans-v18-latin_cyrillic-regular.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local(''),
  url('../fonts/open-sans-v18-latin_cyrillic-600.woff2') format('woff2'),
  url('../fonts/open-sans-v18-latin_cyrillic-600.woff') format('woff');
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/open-sans-v18-latin_cyrillic-700.woff2') format('woff2'),
  url('../fonts/open-sans-v18-latin_cyrillic-700.woff') format('woff');
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $dark;
  padding: 15px;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
}

.logo-link {
  svg {
    display: block;
    fill: $brown;
  }
}

.how-block {
  margin-left: 52px;
  color: $brown;
  line-height: 1.765;
  max-width: 420px;
  letter-spacing: 0.2px;
  font-size: 17px;
  margin-top: 38px;

  .button {
    margin-top: 36px;
  }
}

.button {
  position: relative;
  background: transparent;
  max-width: 295px;
  width: 100%;
  cursor: pointer;
  height: 66px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 17px;
  text-transform: uppercase;
  border: 1px solid transparentize($white, .65);

  &:hover {
    border-top: 1px solid $brown;

    &:after {
      content: '';
      position: absolute;
      background: $brown;
      width: 1px;
      height: 46px;
      right: -1px;
      top: -1px;
    }
  }

  span {
    margin-left: 42px;
    &:before {
      position: absolute;
      width: 13px;
      height: 13px;
      border: 1px solid $white;
      transform: rotate(45deg);
      content: '';
      display: block;
      top: 25px;
      margin-left: -6px;
    }
  }

  svg {
    display: block;
    fill: $white;
  }

}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.circle {
  width: 325px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 325px;
  border: 1px solid transparentize($white, .35);
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 85px);
  top: 555px;
  pointer-events: none;
  user-select: none;

  svg {
    display: block;
    fill: $white;
  }
}

ul {
  &.styled {
    list-style: none;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      padding-left: 52px;
      letter-spacing: 0.2px;
      margin-bottom: 22px;
      span {
        font-weight: 400;
      }
      &:after {
        content: '';
        display: block;
        width: 10px;
        height: 10px;
        border: 1px solid $brown;
        transform: rotate(45deg);
        left: 0;
        position: absolute;
        top: 3px;
      }
      &:before {
        content: '';
        display: block;
        width: 27px;
        height: 1px;
        opacity: .25;
        background: $white;
        left: 4px;
        position: absolute;
        top: 8px;
      }
    }
  }
}

.logo-large {
  margin-top: 50px;
  margin-bottom: 24px;
  svg {
    fill: $white;
    display: block;
  }
}

.container {
  max-width: 1270px;
  margin: 0 auto;
  padding: 0 15px;
}

#fullpage {
  .section {
    color: $white;
  }
}

.logo-link {
  display: inline-block;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .contacts {
    max-width: 232px;
    display: flex;
    width: 100%;
    align-items: center;
  }
}

.phone {
  color: $white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: auto;
  font-size: 17px;
  padding-right: 10px;

  svg {
    transform: scale(-1, 1);
    display: block;
    fill: $brown;
    margin-right: 9px;
  }
}

section {
  &.home {
    .i {
      display: inline-block;
      svg {
        display: block;
        fill: $brown;
      }
    }
  }
}

#app {
  border: 1px solid $brown;
  height: 100%;
}