@import "variables";

@font-face {
  font-family: 'Angelface';
  font-style: normal;
  font-weight: 400;
  src: local(''),
  url('../fonts/angelface.woff') format('woff');
}

@font-face {
  font-family: 'Playfair';
  font-style: normal;
  font-weight: 700;
  src: local(''),
  url('../fonts/PlayfairDisplayBold.woff') format('woff');
}

.pl52 {
  padding-left: 52px;
  margin-top: 36px;
}

.vacancy-item + .styled {
  max-width: 672px;
  line-height: 1.7;

  li {
    margin-bottom: 15px;

    &:before {
      top: 12px;
    }
    &:after {
      top: 7px;
    }
  }
}

.vacancy-item {
  font-family: 'Playfair', sans-serif;
  font-size: 40px;
  color: $brown;
  letter-spacing: .66px;
  margin-bottom: 29px;
  margin-top: 10px;

  svg {
    display: inline-block;
    width: 26px;
    height: 26px;
  }
}

body {
  font-family: 'Open Sans', sans-serif;
  background: $dark url(../images/noise.png) repeat;
  box-sizing: border-box;
  overflow-x: hidden;
}

body,
html {
  height: 100%;
}

@mixin respond($min: -1, $max: -1, $media: "all") {
  $query: "only " + $media;

  @if $min != -1 and $max != -1 {
    $query: "only " + $media + " and (min-width: " + $min + ") and (max-width: " + ($max - 1) + ")";
  } @else if $min == -1 and $max != -1 {
    $query: "only " + $media + " and (max-width: " + ($max - 1) + ")";
  } @else if $min != -1 and $max == -1 {
    $query: "only " + $media + " and (min-width: " + $min + ")";
  }

  @media #{$query} {
    @content;
  };
}

.logo-link {
  svg {
    display: block;
    fill: $brown;
  }
}

.how-block {
  margin-left: 52px;
  color: $brown;
  line-height: 1.765;
  max-width: 420px;
  letter-spacing: 0.2px;
  font-size: 17px;
  margin-top: 38px;

  .button {
    margin-top: 36px;
  }
}

.button {
  position: relative;
  background: transparent;
  max-width: 295px;
  width: 100%;
  cursor: pointer;
  height: 66px;
  outline: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
  font-size: 15px;
  text-transform: uppercase;
  border: 1px solid transparentize($white, .65);
  letter-spacing: 1px;

  &:hover {
    border-top: 1px solid $brown;

    &:after {
      content: '';
      position: absolute;
      background: $brown;
      width: 1px;
      height: 46px;
      right: -1px;
      top: -1px;
    }
  }

  span {
    margin-left: 42px;

    &:before {
      position: absolute;
      width: 13px;
      height: 13px;
      border: 1px solid $white;
      transform: rotate(45deg);
      content: '';
      display: block;
      top: 25px;
      margin-left: -6px;
    }
  }

  svg {
    display: block;
    fill: $white;
  }

}

.skip-link {
  position: absolute;
  top: -40px;
  left: 0;
  background: #000000;
  color: white;
  padding: 8px;
  z-index: 100;
}

.skip-link:focus {
  top: 0;
}

.circle {

  @include respond(1698px) {
    width: 325px;
    height: 325px;
  }

  @include respond(1708px, 1798px) {
    width: 225px;
    height: 225px;
  }

  @include respond(0, 1708px) {
    display: none;
  }

  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid transparentize($white, .35);
  border-radius: 50%;
  position: absolute;
  left: calc(50% - 85px);
  top: 555px;
  pointer-events: none;
  user-select: none;

  svg {
    display: block;
    fill: $white;
  }
}

ul {
  &.styled {
    list-style: none;
    font-weight: 300;
    font-size: 16px;
    margin: 0;
    padding: 0;
    li {
      position: relative;
      padding-left: 52px;
      letter-spacing: 0.2px;
      margin-bottom: 22px;
      span {
        font-weight: 400;
      }
      &:after {
        content: '';
        display: block;
        width: 8px;
        height: 8px;
        border: 1px solid $brown;
        transform: rotate(45deg);
        left: 0;
        position: absolute;
        top: 4px;
      }
      &:before {
        content: '';
        display: block;
        width: 27px;
        height: 1px;
        opacity: .25;
        background: $white;
        left: 4px;
        position: absolute;
        top: 8px;
      }
    }
  }
}

.logo-large {
  margin-top: 50px;
  margin-bottom: 24px;
  svg {
    fill: $white;
    display: block;
  }
}

.service-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 180px;
  grid-row-gap: 78px;
  margin-top: 70px;
  padding-bottom: 70px;

  .heading {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: .2px;
    line-height: 1.7;
  }
  .text {
    font-weight: 300;
    font-size: 16px;
    margin-top: 16px;
    line-height: 1.9;
    letter-spacing: .2px;

    span {
      font-weight: 400;
    }
  }
  .icon {
    max-width: 210px;
    width: 100%;
    margin-bottom: 30px;
    height: 210px;
    border: 1px solid transparentize($white, .2);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  svg {
    fill: $brown;
    max-width: 74px;
  }
}

.container {
  margin: 0 auto;
  padding: 0 15px;

  @include respond(1698px) {
    max-width: 1270px;
  }

  @include respond(1617px, 1698px) {
    max-width: 1140px;
  }

  @include respond(1360px, 1617px) {
    max-width: 940px;
  }
}

.section {
  color: $white;
}

.logo-link {
  display: inline-block;
}

footer {
  span {
    font-size: 15px;
    color: transparentize($white, .2);
  }
}

header,
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .contacts {

    @include respond(1057px) {
      transform: translateX(18px);
    }
    max-width: 232px;
    letter-spacing: .8px;
    display: flex;
    width: 100%;
    align-items: center;
    position: relative;
    z-index: 10;
  }
}

.phone {
  color: $white;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: auto;
  font-size: 17px;
  padding-right: 10px;

  svg {
    transform: scale(-1, 1);
    display: block;
    fill: $brown;
    margin-right: 9px;
  }
}

.moon-girl {
  position: absolute;
  display: inline-block;
  background: #3a3a3a url(../images/noise.png) repeat;
  right: -36px;
  top: 0;
  overflow: hidden;

  @include respond(0, 1698px) {
    width: 758px;
  }
  @include respond(0, 1617px) {
    display: none;
  }

  img {
    display: block;
    transform: translateX(-17px);
    max-width: 100%;
  }
}

.vacancy-items {
  display: flex;
}

.vacancy-girl {
  transform: translate3d(87px, -32px, 0);
}

.input.last {
  margin-bottom: 60px;
}

form {
  .button {
    margin-top: 65px;
  }
  max-width: 490px;
  box-sizing: border-box;
  width: 100%;
  .input {
    position: relative;
    &:not(.last) {
      margin-bottom: 50px;
    }

    &.active  {
      label {
        top: -10px;
        font-size: 12px;
      }
    }

    label {
      pointer-events: none;
      position: absolute;
      font-size: 16px;
      top: 17px;
      text-transform: uppercase;
      transition: top 170ms linear, font-size 170ms linear;
      color: $white;
    }
  }
  input {
    width: 100%;
    height: 50px;
    background: transparent;
    border: none;
    outline: none;
    color: $white;
    border-bottom: 1px solid transparentize($white, .25);
    &:focus {
      border-bottom: 1px solid $brown;
    }

  }
  /*background: #161619;*/
}

.columns {
  .column.form {
    margin-left: auto;
    max-width: 490px;
    box-sizing: border-box;
    width: 100%;
    margin-top: 36px;
    position: relative;
    &:before {
      content: '';
      position: absolute;
      left: -80px;
      top: -80px;
      bottom: -80px;
      right: -80px;
      background: rgba(255, 255, 255, .01);
    }
  }

  display: flex;
}

.checkbox {
  cursor: pointer;
  position: relative;
  letter-spacing: .2px;
  font-size: 14px;
  padding-left: 46px;
  a {
    color: $brown;
  }
  input {
    position: absolute;
    z-index: 0;
    opacity: 0;
  }
  input:checked + span {
    background: $brown url(/app/images/sprite.svg#check) no-repeat center / 21px;
  }
  span {
    top: -8px;
    left: 0;
    position: absolute;
    margin-right: 15px;
    display: inline-block;
    width: 30px;
    height: 30px;
    border: 1px solid $brown;
  }
}

.i {
  display: inline-block;
  svg {

    display: block;
    fill: $brown;
  }
}

section {
  padding: 15px;

  &.services {
    min-height: 904px;
    background: url('../images/stars_1.png') no-repeat left top;
  }

  &.vacancy {
    min-height: 840px;
    padding-top: 60px;
    background: url('../images/stars_1.png') no-repeat left top;
  }

  &.money {
    min-height: 680px;
    padding-top: 50px;
    background: url('../images/stars_1.png') no-repeat left top;
  }

  &.feedback {
    min-height: 812px;
    padding-top: 15px;
    background: url('../images/about.png') no-repeat left top;
  }

  &.home {
    min-height: 904px;
    background: url('../images/stars_1.png') no-repeat left top;
  }

  .title {
    font-family: 'Angelface', sans-serif;
    letter-spacing: 1px;
    font-size: 100px;
  }

  &.about {
    background: url('../images/about.png') no-repeat left top;
    min-height: 806px;
    padding-top: 107px;

    .about-content {
      flex: 1;
      max-width: 562px;
      width: 100%;
      margin-left: auto;

      .button {
        margin-top: 35px;
      }

      .title {
        margin-top: 45px;
      }
      .heading {
        font-size: 17px;
        color: $brown;
        font-family: 'Open Sans', sans-serif;
        margin-top: 15px;
        line-height: 1.7;
      }
      .text {
        font-size: 16px;
        color: $white;
        font-family: 'Open Sans', sans-serif;
        margin-top: 20px;
        max-width: 545px;
        font-weight: 300;
        letter-spacing: .15px;
        line-height: 1.9;
      }
    }

    .about-wrapper {
      display: flex;
      img {
        transform: translateX(-19px);
      }
    }
  }

}

nav {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 65px;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;

  @include respond(0, 1360px) {
    display: none;
  }

  @include respond(1756px) {
    left: 65px;
  }

  @include respond(0, 1756px) {
    left: 30px;
  }

  svg {
    display: block;
    fill: $brown;
  }

  &:not(.active) {
    span {
      opacity: 0;
    }
  }
  .active {
    span {
      opacity: 1;
    }
  }

  .moon-icon {
    width: 16px;
    margin-right: 20px;
    display: inline-block;
  }

  a {
    color: $brown;
    text-decoration: none;
    font-size: 13px;
    display: inline-flex;
    margin: 20px 0;

    .moon-icon {
      position: relative;
    }

    &:nth-child(2) {
      .moon-icon {
        &:before {
          height: 25px;
          background: $white;
          bottom: 24px;
          left: 8px;
        }
      }
    }

    .moon-icon {
      &:after,
      &:before {
        position: absolute;
        content: '';
        display: block;
        opacity: .15;
        width: 1px;
      }
    }

    &:nth-child(1) {
      .moon-icon {
        &:before {
          height: 15px;
          background: $white;
          bottom: 23px;
          left: 8px;
        }
      }
    }
    &:last-child {
      .moon-icon {
        &:before {
          height: 15px;
          background: $white;
          top: 23px;
          left: 8px;
        }
      }
    }
    &:nth-child(2),
    &:nth-child(3),
    &:nth-child(4),
    &:nth-child(5) {
      .moon-icon {
        &:after {
          height: 25px;
          background: $white;
          top: 24px;
          left: 8px;
        }
      }
    }

    span {
      transition: opacity 300ms linear;
    }

    &:hover {
      span {
        opacity: 1;
      }
    }
  }
}

#app {
  position: relative;
  &:before {
    content: '';
    position: absolute;
    border: 1px solid $brown;
    left: 15px;
    right: 15px;
    pointer-events: none;
    user-select: none;
    z-index: 100;
    top: 15px;
    bottom: 15px;
  }
}